@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Quicksand';
  src: url('/public/fonts/quicksand.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/montserrat.ttf');
}

@font-face {
  font-family: 'Notosans';
  src: url('/public/fonts/notosans.ttf');
}

@font-face {
  font-family: 'Archivo';
  src: url('/public/fonts/archivo.ttf');
}

* {
  font-family: 'Quicksand';
}

.font-montserrat {
  font-family: 'Montserrat';
}

.font-quicksand {
  font-family: 'Quicksand';
}

.font-notosans {
  font-family: 'Notosans';
}

.font-archivo {
  font-family: 'Archivo';
}